*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  font-size: 62.5%;
  /* writing as % keeps user ability to change browser font size */
  /* now 1 rem = 10px */

}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 43.75%;
  }
}



body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #282c34;
  box-sizing: border-box;
  padding-bottom: 2rem;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0;
}
